---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import "../../index.css";
import DevOpsIntro from "../../components/services/devops-services/DevOpsIntro.astro";
import DevOpsServices from "../../components/services/devops-services/DevOpsServices.astro";
import DevOpsGetStarted from "../../components/services/devops-services/DevOpsGetStarted.astro";
import DevOpsBenefits from "../../components/services/devops-services/DevOpsBenefits.astro";
import DevOpsHero from "../../components/services/devops-services/DevOpsHero.astro";
---

<Layout title="DevOps Services | NixxonTech">
  <main class="min-h-screen w-screen md:w-auto">
    <Navbar />
    <DevOpsHero />
    <DevOpsIntro />
    <DevOpsServices />
    <DevOpsGetStarted />
    <DevOpsBenefits />
    <Footer />
  </main>
</Layout>
