---
import "../../index.css";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/common/Navbar.astro";
import Experience from "../../components/home/Experience.astro";
import OurServices from "../../components/home/OurServices.astro";
import Accordion from "../../components/common/Accordion.astro";
import SwiperSection from "../../components/common/SwiperSection.astro";
import { webDevSwiperCards } from "../../data/swipers";
import VerticalSwiper from "../../components/common/VerticalSwiper.astro";
import Testimonials from "../../components/common/Testimonials.astro";
import HeroLogoDesign from "../../components/logo-design/HeroLogoDesign.astro";
import PresentBrand from "../../components/logo-design/PresentBrand.astro";
import WhyLogoDesignsMatter from "../../components/logo-design/WhyLogoDesignsMatter.astro";
import HeroBranding from "../../components/branding/HeroBranding.astro";
import HeroDigitalMarketing from "../../components/digital-marketing/HeroDigitalMarketing.astro";
import DigitalMarketingAdSpending from "../../components/digital-marketing/DigitalMarketingAdSpending.astro";
---

<Layout title="Home - Nixxon Tech">
  <Navbar />
  <HeroDigitalMarketing />

  <Experience
    typewriter="Define the Standard"
    experience="We Ignite your brand’s success with tailored marketing solutions that deliver measurable impact converting audiences, securing valuable leads, and driving growth with strategic, data-backed executions."
  />
  <span class="our-services h-0 w-0"> </span>
  <VerticalSwiper title="Our Branding Services" cards={webDevSwiperCards} />
  <SwiperSection
    title="Beyond Strategy The True Art of Marketing"
    description="We go further than plans and tactics crafting campaigns that blend creativity, data, and vision to create lasting impact and measurable growth."
  />
  <DigitalMarketingAdSpending />
  <Testimonials />
</Layout>
