---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/global.css";
import AboutHero from "../../components/about-us/AboutHero.astro";
import DigitalMarketingIntro from "../../components/services/digital-marketing/DigitalMarketingIntro.astro";
import DigitalMarketingServices from "../../components/services/digital-marketing/DigitalMarketingServices.astro";
import DigitalMarketingGetStarted from "../../components/services/digital-marketing/DigitalMarketingGetStarted.astro";
import DigitalMarketingBenefits from "../../components/services/digital-marketing/DigitalMarketingBenefits.astro";
---

<Layout title="Digital Marketing">
  <main class="min-h-screen w-screen md:w-auto">
    <Navbar />
    <AboutHero />
    <DigitalMarketingIntro />
    <DigitalMarketingServices />
    <DigitalMarketingGetStarted />
    <DigitalMarketingBenefits />
    <Footer />
  </main>
</Layout>
