---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/global.css";
import GameDevIntro from "../../components/services/game-development/GameDevIntro.astro";
import GameDevServices from "../../components/services/game-development/GameDevServices.astro";
import GameDevGetStarted from "../../components/services/game-development/GameDevGetStarted.astro";
import GameDevBenefits from "../../components/services/game-development/GameDevBenefits.astro";
import GameDevTechStack from "../../components/services/game-development/GameDevTechStack.astro";
import GameDevHero from "../../components/services/game-development/GameDevHero.astro";
---

<Layout title="Game Development">
  <main class="min-h-screen w-screen md:w-auto">
    <Navbar />
    <GameDevHero />
    <GameDevIntro />
    <GameDevServices />
    <GameDevGetStarted />
    <GameDevBenefits />
    <GameDevTechStack />
    <Footer />
  </main>
</Layout>
