---
import "../../index.css";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/common/Navbar.astro";
import Experience from "../../components/home/Experience.astro";
import OurServices from "../../components/home/OurServices.astro";
import Accordion from "../../components/common/Accordion.astro";
import SwiperSection from "../../components/common/SwiperSection.astro";
import { webDevSwiperCards } from "../../data/swipers";
import VerticalSwiper from "../../components/common/VerticalSwiper.astro";
import Testimonials from "../../components/common/Testimonials.astro";
import HeroLogoDesign from "../../components/logo-design/HeroLogoDesign.astro";
import PresentBrand from "../../components/logo-design/PresentBrand.astro";
import WhyLogoDesignsMatter from "../../components/logo-design/WhyLogoDesignsMatter.astro";
import Acc1 from "../../assets/logo-design/accordion/1.1.gif";
import Acc2 from "../../assets/logo-design/accordion/1.2.gif";
import Acc3 from "../../assets/logo-design/accordion/1.3.gif";
import Acc4 from "../../assets/logo-design/accordion/1.4.gif";
import Acc5 from "../../assets/logo-design/accordion/2.1.gif";
import Acc6 from "../../assets/logo-design/accordion/2.2.gif";
import Acc7 from "../../assets/logo-design/accordion/2.3.gif";
import Acc8 from "../../assets/logo-design/accordion/2.4.gif";
import Acc9 from "../../assets/logo-design/accordion/3.1.png";
import Acc10 from "../../assets/logo-design/accordion/3.2.png";
import Acc11 from "../../assets/logo-design/accordion/3.3.png";
import Acc12 from "../../assets/logo-design/accordion/3.4.png";
import Acc13 from "../../assets/logo-design/accordion/4.1.png";
import Acc14 from "../../assets/logo-design/accordion/4.2.png";
import Acc15 from "../../assets/logo-design/accordion/4.3.png";
import Acc16 from "../../assets/logo-design/accordion/4.4.png";
import Acc17 from "../../assets/logo-design/accordion/5.1.png";
import Acc18 from "../../assets/logo-design/accordion/5.2.png";
import Acc19 from "../../assets/logo-design/accordion/5.3.png";
import Acc20 from "../../assets/logo-design/accordion/5.4.png";
import Acc21 from "../../assets/logo-design/accordion/6.1.png";
import Acc22 from "../../assets/logo-design/accordion/6.2.png";
import Acc23 from "../../assets/logo-design/accordion/6.3.png";
import Acc24 from "../../assets/logo-design/accordion/6.4.png"; 

const accordionItems = [
  {
    title: "2D Animated Logo",
    body: "Each corporate website built by Nixxon Australia is tailored...",
    cta: ["Get Started", "Live Chat"],
    images : [Acc1, Acc2, Acc3, Acc4],
  },
  {
    title: "3D Animated Logo",
    body: "Sell more with bespoke storefronts engineered for conversions.",
    cta: ["View Work"],
    images : [Acc5, Acc6, Acc7, Acc8],
  },
  {
    title: "Iconic Logo Desing",
    body: "Pixel-perfect across every device.",
    cta: ["Book a Call"],
    images : [Acc9, Acc10, Acc11, Acc12],
  },
  {
    title: "Illustrative Logo",
    body: "High-impact funnels for campaigns and launches.",
    cta: ["See Case Studies"],
    images : [Acc13, Acc14, Acc15, Acc16],
  },
  {
    title: "Symbolic Logo",
    body: "Pixel-perfect across every device.",
    cta: ["Book a Call"],
    images : [Acc17, Acc18, Acc19, Acc20],
  },
  {
    title: "Typographic Logo",
    body: "Enterprise-ready experiences on WordPress.",
    cta: ["Discover More"],
    images : [Acc21, Acc22, Acc23, Acc24],
  },
];
---

<Layout title="Home - Nixxon Tech">
  <Navbar />
  <HeroLogoDesign />

  <Experience
    typewriter="Eye catching identity design"
    experience="We craft impactful brand identities that capture the essence of our clients’ businesses. With skilled designers and attention to detail, we create memorable visuals that clearly convey their message and values."
  />
  <span class="our-services h-0 w-0"> </span>
  <WhyLogoDesignsMatter />
  <PresentBrand />

  <Accordion
    title="Logos That Define Your Brand."
    description="From classic to animated, we design logos that define your brand."
    para="Our approach blends creativity and strategy, ensuring every logo not only looks stunning but also resonates with your audience. Whether you need a mark that inspires trust, a bold design that stands out, or motion graphics that tell a story, we deliver logos that adapt seamlessly to your brand’s world."
    panels={accordionItems}
    />
  <Testimonials />
</Layout>
