---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import "../../index.css";
import UIUXIntro from "../../components/services/ui-ux-design/UIUXIntro.astro";
import UIUXServices from "../../components/services/ui-ux-design/UIUXServices.astro";
import UIUXGetStarted from "../../components/services/ui-ux-design/UIUXGetStarted.astro";
import UIUXBenefits from "../../components/services/ui-ux-design/UIUXBenefits.astro";
import UIUXTechStack from "../../components/services/ui-ux-design/UIUXTechStack.astro";
import UIUXHero from "../../components/services/ui-ux-design/UIUXHero.astro";
---

<Layout title="UI/UX Design | NixxonTech">
  <main class="min-h-screen w-screen md:w-auto">
    <Navbar />
    <UIUXHero />
    <UIUXIntro />
    <UIUXServices />
    <UIUXGetStarted />
    <UIUXBenefits />
    <UIUXTechStack />
    <Footer />
  </main>
</Layout>
