---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import ContactInformation from "../components/common/ContactInformation.astro";
---

<Layout title="Contact Us">
  <main class="min-h-screen w-screen md:w-auto">
    <Navbar />
    <section
      id="hero-section"
      class="hero bg-fixed bg-no-repeat bg-cover relative flex items-center justify-center px-4 md:px-16 w-full pt-16"
    >
      <div
        class="absolute inset-0 bg-radial-[at_50%] opacity-70 from-[#1E1504]/5 to-black"
      >
      </div>
      <h1 class="text-5xl font-semibold text-white py-48 z-10">Contact Us</h1>
    </section>
    <ContactInformation />
    <Footer />
  </main>
</Layout>
