---
import "../index.css";
import Layout from "../layouts/Layout.astro";
import ContactSection from "../components/common/ContactSection.astro";
---

<Layout title="Home - Nixxon Tech">
  <p class="bg-primary h-[200vh]">kljsdf</p>
  <ContactSection />
</Layout>
