---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import GetStartedHome from "../components/home/GetStartedHome.astro";
import "../index.css"
import Collaborate from "../components/home/Collaborate.astro";
import FeaturedProjects from "../components/home/FeaturedProjects.astro";
import AboutUs from "../components/home/AboutUs.astro";
import Services from "../components/home/Services.astro";
import WhyNixxon from "../components/home/WhyNixxon.astro";
import Hero from "../components/home/Hero.astro";
import Testimonial from "../components/home/Testimonial.astro";
---

<Layout title="NixxonTech">
  <main class="min-h-screen w-screen md:w-auto">
    <Navbar />
    <Hero />
    <AboutUs />
    <Services />
    <WhyNixxon />
    <GetStartedHome />
    <Collaborate />
    <FeaturedProjects />
    <Testimonial />
    <Footer />
  </main>
</Layout>
