---
import Collaborate from "../components/common/Collaborate.astro";
import Portfolio from "../components/home/Portfolio.astro";
import HeroPortfolio from "../components/portfolios/HeroPortfolio.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Portfolios - Nixxon Tech">
  <HeroPortfolio />
  <span class="our-services h-0 w-0"> </span>
 
  <Portfolio header={false} />
  <Collaborate />
  <span class="mt-24" />
</Layout>
