---
import HeroPortfolio from "../components/portfolios/HeroPortfolio.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Portfolios - Nixxon Tech">
  <HeroPortfolio />
  <h1>Our Services</h1>
  <p>
    Welcome to our services page. Here you can find information about the
    various services we offer.
  </p>
</Layout>
