---
import Layout from "../layouts/Layout.astro";
import HeroService from "../components/services/HeroService.astro";
---

<Layout title="Our Services - Nixxon Tech">
  <HeroService />
  <h1>Our Services</h1>
  <p>
    Welcome to our services page. Here you can find information about the
    various services we offer.
    lorem*12
  </p>
</Layout>
