---
import Layout from "../layouts/Layout.astro";
import HeroService from "../components/services/HeroService.astro";

import Collaborate from "../components/common/Collaborate.astro";
import Testimonials from "../components/common/Testimonials.astro";
import ServicesList from "../components/services/ServicesList.astro";


---

<Layout title="Our Services - Nixxon Tech" bg="#FDFDFD">
  <HeroService />
  <span class="our-services h-0 w-0"> </span>


  <ServicesList />
  <Collaborate />
  <Testimonials />
</Layout>
