---
import Art from "../../assets/art.webp";
import Image from "astro/components/Image.astro";
---

<section
  id="hero-section-portfolio"
  class="hero-portfolio bg-fixed md:bg-contain bg-no-repeat w-screen min-h-[310px]"
>
</section>
