---
import ideaIcon from "../../assets/icons/home/idea.png";
import { Image } from "astro:assets";
const {
  title = "Collaborate",
  description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
  icon = ideaIcon,
} = Astro.props;
---

<article class="flex flex-col space-y-2 md:space-y-4">
  <div class="flex flex-row items-center space-x-4 md:space-x-2">
    <Image src={icon} alt="Collaborate Icon" class="aspect-square w-5 lg:w-6" />
    <h2 class="text-xs md:text-sm lg:text-base canvas:text-lg font-400">
      {title}
    </h2>
  </div>
  <p
    class="text-[10px] md:text-xs canvas:text-[13px] 2xl:text-sm text-[#2A2111]"
  >
    {description}
  </p>
</article>
