---
import GetStartedLayout from "../common/GetStartedLayout.astro";
---

<GetStartedLayout>
  <div class="app-max-width space-y-4 text-center px-12 text-white">
    <h2 class="text-4xl font-medium text-center leading-12">
      Let’s Present Your Brand Together With Our Branding Solutions That
      Distinguish Your Brand From the Competition
    </h2>
    <p class="text-center mt-5 text-md px-4">
      Your Logo is the most ESSENTIAL part of your whole brand, it defines who
      you are and make an impact on audience. Our professional logo designers
      make sure to project your business in a way that your brand get separated
      from the competition. Here at LogoNITI we produce design that gets
      imprinted on your audience mind by the first look of it. Our award winning
      designers bring your thoughts into reality and bring your ideas to life.
    </p>
    <button
      class="mt-6 inline-block px-12 py-3 leading-5 border border-primary-blue rounded-full text-white text-lg transition
  shadow-md shadow-primary-blue/50 hover:shadow-xl hover:shadow-primary-blue/80
  hover:scale-105 duration-300 animate-pulse"
    >
      Have a Plan? Let’s Get Started
    </button>
  </div>
</GetStartedLayout>
