---
import handImage from "../../assets/hand.png";
import CommonButton from "../common/CommonButton.astro";
import Image from "astro/components/Image.astro";
---

<section
  class="hero-section relative ml-[88px] h-screen overflow-hidden rounded-l-3xl bg-[#4B00A3] pt-32 text-white"
>
  <div
    class="  flex flex-row  pl-20 pt-16 h-full justify-between "
  >
    <!-- Left -->
    <div class="mt-auto pb-40 w-[60%] z-10">
      <span class="mb-4 block h-[2px] w-10 bg-white"></span>
      <h1 class="text-[86px] leading-[100px] font-bold mb-4">
        Shaping the Future 
        of How Your Brand is 
        Seen.
      </h1>
      <p class="font-medium text-xl tracking-[1px] leading-6 mb-8">
        We have your digital solution on web design, mobile app development,
        SEO, branding & digital marketing
      </p>
      <div class="flex items-center space-x-4">
        <CommonButton className="text-lg font-semibold"
        >
          Get a proposal
        </CommonButton>
       <a class="text-lg font-semibold leading-6 flex items-center">
          <span>Portfolio</span>
          <span>→</span>
        </a>
      </div>
    </div>

    <!-- Right -->
    <div class="flex-1 w-[40%] z-0">
      <Image
        src={handImage}
        alt="Hand Image"
        class=""
      />
    </div>  
  </div>
</section>
