---
import projectDefaultImage from "../../assets/home/project1.svg";
import { Image } from "astro:assets";
const {
  title = "Collaborate",
  description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
  image = projectDefaultImage,
  readMoreLink = "#",
} = Astro.props;
---

<article class="flex flex-col space-y-4">
  <Image src={image} alt="Collaborate Icon" class="rounded-xl" />
  <h2 class="text-lg font-400">{title}</h2>
  <p class="text-[13px] text-[#2A2111]">{description}</p>
</article>
