---
import Image from "astro/components/Image.astro";

// Correct way to access the service object
const { service } = Astro.props;
const { title, description, image, link, alt } = service;
---

<article class="flex flex-col space-y-4">
  <Image src={image} alt={alt || title} class="w-full h-[300px] object-cover" />
  <h4 class="text-primary-blue text-2xl font-medium">
    {title}
  </h4>
  <p class="text-[#2A2111] mb-8">
    {description}
  </p>
  <a
    href={link}
    class="bg-primary-blue w-fit text-white rounded-full py-1 px-12"
  >
    Let's Talk
  </a>
</article>
