---
import Image from "astro/components/Image.astro";

// Correct way to access the service object
const { service } = Astro.props;
const { title, description, image, link, alt } = service;
---

<article class="flex flex-col space-y-4 w-full">
  <Image src={image} alt={alt || title} class="w-full max-h-[350px] object-fit mx-auto" />
  <h4
    class="text-primary-blue font-medium text-xl canvas:text-2xl 3xl:text-3xl"
  >
    {title}
  </h4>
  <p
    class="text-[#2A2111] mb-8 text-xs lg:text-sm canvas:text-base 3xl:text-xl"
  >
    {description}
  </p>
  <a
    href={link}
    class=" text-[#0073F3] text-base  lg:text-lg xl:text-xl"
  >
      See More
  </a>
</article>
