---
import Heading from "../common/Heading.astro";
import TestimonialSlider from "./TestimonialSlider";

// Your project data could come from here
const projects = [
  // Add your project data here
  // Example: { id: 1, title: 'Project 1', description: '...', image: '...' },
];
---

<section
  class="py-8 flex flex-col space-y-16"
  aria-labelledby="testimonials-heading"
>
  <div class="flex flex-col space-y-12 app-max-width w-full">
    <Heading>
      <h2 id="testimonials-heading" class="text-4xl font-medium">
        What Our <span class="text-primary-blue">Clients</span> Say
      </h2>
    </Heading>
  </div>
  <TestimonialSlider client:load />
</section>
