---
// ...existing imports...
import CommonButton from "./CommonButton.astro";
---

<section
  id="collaborate-section"
  class="internal-padding gmd:ap-6 flex items-center overflow-hidden bg-cover bg-no-repeat py-12 text-white lg:py-60 2xl:py-72"
>
  <div class="flex w-2/3 max-w-[580px] flex-col sm:w-1/2">
    <h1
      class="3xl:text-[90px] 3xl:leading-24 mb-3 text-[28px] leading-10 font-medium text-[#4B00A3] md:mb-7 md:text-[50px] md:leading-10 lg:text-[60px] lg:leading-12 xl:text-[70px] xl:leading-16 2xl:text-[80px] 2xl:leading-20"
    >
      Collaborate with Us
    </h1>
    <p
      class="mb-4 text-sm md:mb-8 md:text-lg lg:mb-14 lg:text-xl xl:text-2xl 2xl:text-3xl"
    >
      Share your tech-related business ideas with us. We'll support you
      transform your dreams into reality!
    </p>
    <CommonButton className="w-fit"> Learn More </CommonButton>
  </div>
</section>

<!-- <script>
  window.addEventListener("DOMContentLoaded", () => {
    const section = document.getElementById("collaborate-section");
    const content = section.querySelector(".flex-col");
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            content.classList.add("fade-in");
            observer.disconnect();
          }
        });
      },
      { threshold: 0.3 },
    );
    observer.observe(content);
  });
</script> -->

<style>
  #collaborate-section {
    background-image: url("../../assets/home/colloborate-bg-compressed.webp");
    background-size: 102%;
    transition: background-size 2s cubic-bezier(0.4, 0, 0.2, 1);
    background-position: center;
  }

  #collaborate-section:hover {
    background-size: 100%;
  }

  /* @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  #collaborate-section .flex-col {
    opacity: 0;
    animation: fadeUp 1s cubic-bezier(0.4, 0, 0.2, 1) 0.2s forwards;
  } */
</style>
