---
import CommonButton from "./CommonButton.astro";
import InputBox from "./InputBox.astro";
---

<form class="grid grid-cols-2 gap-x-6 gap-y-3">
  <InputBox placeholder="Name" className="col-span-1" />
  <InputBox placeholder="Email" type="email" className="col-span-1" />
  <InputBox placeholder="Phone Number" className="col-span-1" />
  <InputBox placeholder="Country" className="col-span-1" />
  <InputBox placeholder="Budget" className="col-span-1" />
  <InputBox placeholder="Services Looking For" className="col-span-1" />

  <InputBox
    placeholder="How Soon you are willing to get started"
    className="col-span-1"
  />
  <InputBox placeholder="Message" className="col-span-1" />

  <CommonButton className="mt-12 max-w-[261px]">Send Message</CommonButton>
</form>
