@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap&display=swap");
@import "tailwindcss";

/* font poppins for whole app */

/* max width class to be used in throughout the app */

/* variables */
:root {
  --color-primary-blue: #39d0ff;
}

@theme {
  --color-primary-blue: #39d0ff;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-canvas: 1440px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
}

* {
  box-sizing: border-box;
}

/* Default Mobile Styles */
.app-max-width {
  padding-inline: 4.5dvw;
  margin: 0 auto;
}

.app-right-padding {
  padding-right: 4.5dvw;
}
.app-left-padding {
  padding-left: 4.5dvw;
}



@media screen and (min-width: 1024px) {
  .app-max-width {
    padding-inline: 10.4dvw;
    margin: 0 auto;
  }

  .app-right-padding {
    padding-right: 10.4dvw;
  }
  .app-left-padding {
    padding-left: 10.4dvw;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hero {
  background-image: url("./assets/bg.webp");
}

.hero-text {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease-out forwards;
}

.hero-portfolio {
  background-image: url("./assets/portfolios/hero.png");
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.swiper-button-prev,
.swiper-button-next {
  @apply bg-white w-10 h-10 rounded-full shadow flex items-center justify-center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  @apply text-sm text-blue-600;
}

.swiper-pagination-bullet {
  @apply w-2.5 h-2.5 opacity-100 bg-gray-300;
}

.swiper-pagination-bullet-active {
  @apply bg-blue-600;
}

.swiper-pagination {
  margin-top: 40px !important;
  position: relative !important;
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    @apply hidden;
  }
}

@keyframes neon-flicker {
  0%,
  19%,
  21%,
  50%,
  100% {
    opacity: 1;
    text-shadow: 0 0 5px #39d0ff, 0 0 25px rgba(57, 208, 255, 0.8);
  }
  20%,
  22%,
  51% {
    opacity: 0.8;
    text-shadow: 0 0 2px #39d0ff, 0 0 5px rgba(57, 208, 255, 0.4);
  }
}

/* .neon-glow {
  color: #39d0ff;
  text-shadow: 0 0 5px #39d0ff, 0 0 25px rgba(57, 208, 255, 0.8);
  animation: neon-flicker 1.5s infinite alternate;
} */
