/* import font poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

@theme {
  --color-primary: #2563eb;
  --color-footer-bg: #40326b;
  --color-contact-blue: #000047;
  --font-primary: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --color-gradient-start: #9d7eff;
  --color-gradient-end: #8067ce;
}

.internal-padding {
  padding-left: 11%;
  padding-right: 11%;
}

.bg-button-gradient {
  background: linear-gradient(90deg, #9d7eff 0%, #8067ce 100%);
}

.gradient-text {
  background: linear-gradient(90deg, #9d7eff 0%, #8067ce 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
