---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <link rel="icon" href="/src/assets/icons/favicon.png" type="image/png" />
    <link rel="stylesheet" href="/src/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta
      name="description"
      content="NixxonTech is a software development company that specializes in web and mobile applications. We help businesses grow by providing custom solutions that meet their unique needs."
    />

    <meta name="robots" content="index, follow" />
    <meta name="author" content="NixxonTech" />
    <meta
      name="keywords"
      content="software development, web development, mobile development, custom software, web applications, mobile applications"
    />
    <meta property="og:title" content="NixxonTech" />
    <meta
      property="og:description"
      content="NixxonTech is a software development company that specializes in web and mobile applications. We help businesses grow by providing custom solutions that meet their unique needs."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nixxontech.com" />
    <meta property="og:image" content="/src/images/og-image.jpg" />
    <meta property="og:site_name" content="NixxonTech" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@nixxontech" />
    <meta name="twitter:creator" content="@nixxontech" />
    <meta name="twitter:title" content="NixxonTech" />
    <meta
      name="twitter:description"
      content="NixxonTech is a software development company that specializes in web and mobile applications. We help businesses grow by providing custom solutions that meet their unique needs."
    />
    <meta name="twitter:image" content="/src/images/og-image.jpg" />
  </head>
  <body class="overflow-x-hidden">
    <slot />
  </body>
</html>
